* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header h1 {
  position: relative;
  color: aliceblue;
  top: 0px;
  margin-right: 45%;
  font-size: 50px;
  font-family: Palatino, URW Palladio L, serif;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid orange;
  background: rgb(103, 106, 126);
  background: radial-gradient(
      circle,
      rgba(103, 106, 126, 1) 0%,
      rgba(24, 72, 129, 1) 100%
  );
}
 
#logo img {
  margin: 5px 30px;
}

.inner{
    height: 90%;
    width: 70%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 68px -6px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    border-radius: 10px;
}

.photo{
    width: 50%;
    height: 100%;
    padding: 0 50px;
}

.photo img{
    width: 100%;
    height: 100%;
}

.user-form{
    /* background: cornflowerblue; */
    /* background: rgb(103, 106, 126); */
  background: radial-gradient(
    circle,
    rgba(103, 106, 126, 1) 0%, rgb(63 97 138) 100% );
    padding: 50px;
    width: 50%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

.user-form h1{
    color: #fff;
    padding: 20px 0;
    /* margin: 0px 10px; */
    font-size: 3rem;
    font-weight: 700;
}

input{
    width: 100%;
    height: 3em;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
    margin: 10px 0;
    padding:0 30px ;
}

select{
  /* width: 100%; */
  height: 3em;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 15px;
  margin: 10px 0;
  padding:0 20px ;
}

.options{
    display: flex;
    justify-content: space-between;
}

.action-btn{
    width: 100%;
    display: flex;
    margin: 30px 0;
    justify-content: center;
}

.btn{
    border: 1px solid #fff;
    padding: 10px;
    background: transparent;
    border-radius: 20px;
    width: 100%;
    /* margin: 0 10px; */
    cursor: pointer;
    font-size: 20px;
    /* font-weight: 600; */
}

.primary{
    border: none;
    background: linear-gradient(45deg, rgba(222, 197, 51, 1) 24%, rgba(255, 107, 0, 1) 100%);
}

.btn:hover{
  background: linear-gradient(45deg, rgba(255, 107, 0, 1) 24%, rgba(222, 197, 51, 1) 100%);

}


@media (max-width: 665px){
    .photo{
        display: none;
    }

    .user-form{
        width: 100%;
        border-radius:10px ;
    }

    .user-form h1{
      font-size: 2.2rem;
    }
}

@media screen and (max-width: 990px) and (min-width: 665px){
    .action-btn{
        margin: 5px;
        display: block;
        width: 100%;
    }

    .btn{
        width: 100%;
        /* margin: 5px; */
        padding: 5px;
    }

}


@media screen and (max-width: 1393px){
  .options{
      flex-direction: column;
  }

  select{
      width: 100%;
  }
}

@media  (max-height: 740px){
  .inner{
    height: 110%;
    top: 80%;
  }
}

@media (max-height: 670px){
  .inner{
    height: 125%;
    top: 90%;
  }
}

@media (max-height: 570px){
  .inner{
    height: 140%;
    top: 100%;
  }
}


/* RESPONSIVE NAV */
@media screen and (max-width: 800px){
#navbar{
    justify-content: flex-start;
}

.header h1{
   font-size: 2.3rem;
}

#logo img{
    height: 90px;
}
}








 