<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="/CSS/modal.css">
</head>

<body>
    <div class="container" id="app">
        <div class="add-product" :class="{'open': formOpen}">
            <div class="button-copy" v-show="!formOpen" @click="formOpen = true">Add</div>
            <form @submit="cancel()">

                <div class="form--field">
                    <label>Title *</label>
                    <input type="text" class="form--element" name="title" v-model="productData.title"
                        placeholder="Title" required="">
                </div>
                <div class="form--container -inline">
                    <div class="form--field -short">
                        <label for="date">Date</label>
                        <input type="date" id="date" name="date">
                    </div>
                </div>
                <div class="form--field">
                    <label for="img">Select image:</label>
                    <input type="file" id="img" name="img" accept="image/*">
                </div>
                <div class="form--field">
                    <label>Description</label>
                    <textarea class="form--element textarea" v-model="productData.description"
                        placeholder="Description">
              </textarea>
                </div>

                <button type="submit" class="submit-button">Add</button>
                <div class="cancel"><span @click="cancel()">Cancel</span></div>
            </form>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
<script src="/JS/modal.js"></script>

</html>