.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #000;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
}

input[type = "checkbox"]:checked ~ .overlay{   /*select the overaly sibling '~' stands for sibling*/
  pointer-events: auto;
  opacity: 0.9;
  transform: scale(1);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%) scale(0.5);
  width: 100%;
  max-width: 640px;
  pointer-events: none;
  opacity: 0;
}

input[type = "checkbox"]:checked ~ .modal{   
  pointer-events: auto;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition-delay: 0.1s;
}

.modal__content {
  /* display: block;
  padding: 30px;
  background: white; */
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
max-width: 550px;
background: white;
padding: 30px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0,0,0,0.3);
color: #c5ecfd;
}

.modal__content .title h1{
  color: #0f1f7d;
  text-align: center;
  margin-bottom: 25px;
  /* text-transform: uppercase; */
}

.contact-form{
  display: flex;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg{
  width: 100%;
}

.input-fields .input,
.modal textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #0f1f7d;
  padding: 10px;
  color: #0f1f7d;
  width: 100%;
}

.select-image{
    margin: 10px 0;
  background: transparent;
  border: 0px;
  /* border-bottom: 2px solid #c5ecfd; */
  padding: 10px;
  color: #0f1f7d;
  width: 100%;
}

.msg textarea{
  height: 212px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #0f1f7d;
}


/* input[type="date"]:before {
  content: attr(placeholder) !important;
  margin-right:60%;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
} */


.btn {
    background: #0f1f7d;
    text-align: center;
    padding: 15px 40px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover{
  border: 2px solid #0f1f7d;
  color: #0f1f7d;
  background: none;
  font-weight: 600;
}

.btn:hover a{
  color: #0f1f7d;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.modal a{
  color: white;
}
