

body {
    margin: 0;
    overflow-x: hidden;
}

.vl {
    border-left: 3px solid white;
    margin: 0px 20px;
    margin-top: 20px;
    height: 73px;
  }

.header h1 {
    position: relative;
    color: aliceblue;
    top: -5px;
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
}

.left-side{
    display: flex;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    border-bottom: 5px solid orange;
    background: rgb(103, 106, 126);
    background: radial-gradient(
        circle,
        rgba(103, 106, 126, 1) 0%,
        rgba(24, 72, 129, 1) 100%
    );
}


#logo {
    margin: 5px 0px;
    margin-left: 2%;
}

.header button {
    background: transparent;
    outline: none;
    border: 2px solid orange;
}

.header button:hover {
    cursor: pointer;
    color: black;
    background-color: orange;
}

.sign_btn {
    height: 50px;
    width: 160px;
    font-size: 18px;
    color: white;
    border-radius: 12px;
    margin-top: 1cm;
    margin-right: 1%;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.svg{
    display: none;
    fill: orange;
}


section.container {
    text-align: center;
    margin-left: 5cm;
    background: #a2dfef;
}

.container{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 25px auto;
    color: rgb(42 42 97);
    /* justify-content: center; */
    font-family: "Oxygen", sans-serif;
}

.title{
    text-align: center;
    margin: 1.6rem;
    font-size: 3rem;
}

.Search{
    display: flex;
    flex-direction: column;
    border-top: 3px groove rgb(20, 35, 100);
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 7px 10px 0px rgba(0,0,50,0.3);
    /* background-color: indigo; */
}

.entries-1{
    display: flex;
    justify-content: space-between;
}

.entries-2{
    display: flex;
    justify-content: flex-end;
}
.new {
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }

  .buttons{
    background: transparent;
    padding: 6px 25px;
    color: #555;
    font-weight: 500;
    font-size: 1rem;
    /* margin-bottom: -27px; */
    margin-top: -7px;
    border: 2px solid #0079bf;
    font-family: "Oxygen", sans-serif;
    transition: background 0.3s;
  }

  .buttons:hover{
      background: #0079bf;
      color: white;
  }
  
  .form-group {
    display: inline;
    justify-content: space-around;
    margin-bottom: 15px;
    /* margin-left: 80px; */
  }
  
  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
  }
  
  .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

.entries-1 input, select{
    width: 80%;
    height: 30px;
    margin: 15px;
    border: 1px solid black;
    text-align: center;
    border-radius: 3px;
    font-size: 1.2rem;
}

.table-box
{
    margin: 25px auto;
    font-family: "Oxygen", sans-serif;
    /* height: 600px; */
}

.table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    background: transparent;
    /* padding: 12px 0; */
    color: #555;
    font-size: 1.2rem;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
    background-color: white;
}
.table-head{
    background: rgb(103, 106, 126);
    background: radial-gradient(
        circle, rgb(223 99 66) 0%, rgb(229 145 11 / 1) 100% );
    box-shadow: none;
    color: #fff;
    font-weight: 600;
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 10%;
    text-align: center;
    /* padding: 4px 0; */
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
    
}
.table-cell a:hover {
    text-decoration: underline;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
}
.last-cell{
    border-right: none;
} 

/* .profile_list{
    font-size: 1.5rem;
} */

/* table{
    width: 96%;
    margin: auto;
    /* border-collapse: separate; 
    border-spacing: 0 1.3rem;
} */


/* RESPONSIVE */
@media screen and (max-width: 1200px){
    .new{
        flex-wrap: wrap;
    }

    .entries-1{
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media(max-width: 900px){
	.table-head{
		display: none;
	}

	 .table-cell{
		display: block;
		width: 100%;
	}
	.table-row{
		margin-bottom:15px;
	}
	.table-cell{
        text-align: right;
		padding-left: 50%;
        position: relative;
        border: none;
    }

    .table-cell:not(:last-child){
        border-bottom: 1px solid rgb(207, 203, 203);
    }
    .table-cell-sec{
        text-align: right;
        margin-right: 5%;
    }
	.table-cell::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}


/* RESPONSIVE NAV */
@media screen and (max-width: 1100px){
    .sign_btn {
        /* height: 50px; */
        width: 150px;
        font-size: 15px;
        margin-top: 4%;
    }
}

@media screen and (max-width: 550px){
     .sign_btn{
        display: none;
    }
    .svg{
        position: absolute;
        display: block;
        right: 2%;
        top: 5%;
    }


}

@media screen and (max-width: 400px){
    .vl{
        display: none;
    }

    .header h1{
        /* top: 2px; */
        font-size: 37px;
        margin-left: 5%;
    }

    #logo img{
        margin-top: 6px;
        margin-left: 2%;
        height: 95px;
    }
}

