* {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
}

.vl {
  border-left: 3px solid white;
  margin: 0px 20px;
  margin-top: 20px;
  height: 73px;
}

.header h1 {
  position: relative;
  color: aliceblue;
  top: -5px;
  font-size: 40px;
  font-family: 'Kanit', sans-serif;
}

.left-side{
  display: flex;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  border-bottom: 5px solid orange;
  background: rgb(103, 106, 126);
  background: radial-gradient(
      circle,
      rgba(103, 106, 126, 1) 0%,
      rgba(24, 72, 129, 1) 100%
  );
}


#logo {
  margin: 5px 0px;
  margin-left: 2%;
}

.sign_btn {
  height: 50px;
  width: 160px;
  font-size: 18px;
  color: white;
  border-radius: 12px;
  margin-top: 1cm;
  margin-right: 1%;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

button {
  background: transparent;
  outline: none;
  position: relative;
  border: 2px solid orange;
  padding: 15px 50px;
  overflow: hidden;
  border-radius: 25px;
  width: 260px;
}

button:hover {
  cursor: pointer;
  color: black;
  background-color: orange;
}

.svg{
  display: none;
  fill: orange;
}


/*button:before (attr data-hover)*/
button:hover:before {
  opacity: 1;
  transform: translate(0, 0);
}
button:before {
  content: attr(data-hover);
  position: absolute;
  top: 1.2em;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 1em;
  opacity: 0;
  transform: translate(-100%, 0);
  transition: all 0.3s ease-in-out;
}

/*button div (button text before hover)*/
button:hover div {
  opacity: 0;
  transform: translate(100%, 0);
}
button div {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
  color: black;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: "Poppins", sans-serif;
}


 
.inner{
    height: 94%;
    width: 70%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 68px -6px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    border-radius: 10px;
}

.photo{
    width: 50%;
    height: 100%;
    padding: 0 50px;
}

.photo img{
    width: 100%;
    height: 100%;
}

.user-form{
    /* background: cornflowerblue; */
    /* background: rgb(103, 106, 126); */
  background: radial-gradient(
    circle,
    rgba(103, 106, 126, 1) 0%, rgb(63 97 138) 100% );
    padding: 50px;
    width: 50%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    font-family: "Oxygen", sans-serif;
}

.user-form h1{
    color: #fff;
    /* padding: 20px 0; */
    /* margin: 0px 10px; */
    font-size: 3rem;
    font-weight: 700;
}

.user-form input{
    width: 100%;
    height: 3em;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
    margin: 10px 0;
    padding:0 30px ;
}

select{
  /* width: 100%; */
  height: 3em;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 15px;
  margin: 10px 0;
  padding:0 20px ;
}

.options{
    display: flex;
    justify-content: space-between;
}

.action-btn{
    width: 100%;
    display: flex;
    margin: 30px 0;
    justify-content: center;
}

.btn{
    border: 1px solid #fff;
    padding: 10px;
    background: transparent;
    border-radius: 20px;
    width: 100%;
    /* margin: 0 10px; */
    cursor: pointer;
    font-size: 20px;
    /* font-weight: 600; */
}

.primary{
    border: none;
    background: linear-gradient(45deg, rgba(222, 197, 51, 1) 24%, rgba(255, 107, 0, 1) 100%);
}

.btn:hover{
  background: linear-gradient(45deg, rgba(255, 107, 0, 1) 24%, rgba(222, 197, 51, 1) 100%);

}

.regis-footer{
  position: absolute;
  top: 130%;
}


@media (max-width: 665px){
    .photo{
        display: none;
    }

    .user-form{
        width: 100%;
        border-radius:10px ;
    }

    .user-form h1{
      font-size: 2.2rem;
    }
}

@media screen and (max-width: 990px) and (min-width: 665px){
    .action-btn{
        margin: 5px;
        display: block;
        width: 100%;
    }

    .btn{
        width: 100%;
        /* margin: 5px; */
        padding: 5px;
    }

}


@media screen and (max-width: 1393px){
  .options{
      flex-direction: column;
  }

  select{
      width: 100%;
  }
}

@media  (max-height: 740px){
  .inner{
    height: 110%;
    top: 80%;
  }
}

@media (max-height: 670px){
  .inner{
    height: 125%;
    top: 90%;
  }
}

@media (max-height: 570px){
  .inner{
    height: 140%;
    top: 100%;
  }
}


/* RESPONSIVE NAV */
@media screen and (max-width: 1100px){
    .sign_btn {
        /* height: 50px; */
        width: 150px;
        font-size: 15px;
    }
}

@media screen and (max-width: 550px){
     .sign_btn{
        display: none;
    }
    .svg{
        position: absolute;
        display: block;
        right: 2%;
        top: 6%;
    }


}

@media screen and (max-width: 400px){
    .vl{
        display: none;
    }

    .header h1{
        top: 2px;
        font-size: 37px;
        margin-left: 5%;
    }

    #logo img{
        margin-top: 6px;
        margin-left: 2%;
        height: 95px;
    }
}









 